@model List<Aluno>
@{
    ViewData["Title"] = "Alunos";
    ViewData["BuscouEndereco"] = "Endereço encontrado!";
    if (ViewData["MsgErro"] != null)
    {
        <div class="alert-danger">
            @ViewData["MsgErro"]
        </div>
    }
    <div class="alert-success">
        @ViewData["EnderecoEncontrado"]
    </div>

}
<style>
    .tituloAlunos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
<h1 class="tituloAlunos">Alguns dos nossos alunos!</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {

                <tr>
                    <td>@aluno.Id</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Idade</td>
                    <td>@aluno.Cep</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-light" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereco</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-light" role="button" asp-controller="Aluno" asp-action="ModalEditarAluno" asp-route-id="@aluno.Id">Editar</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-light" role="button" asp-controller="Aluno" asp-action="ExcluirAluno" asp-route-id="@aluno.Id">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a type="submit" class="btn btn-dark" role="button" asp-area="" asp-controller="Cadastro" asp-action="Cadastro">Adicionar aluno!</a>